body{
    font-family: 'Archivo Black', sans-serif;
    margin: 0;
}
h1{
    font-size: 70px;
}
.section-1{
    margin-left: 3%;
}
.section-2 h2{
    font-size: 65px;
    text-align: center;
}
.flexible-div{
    display: flex;
}
.half-width{
    width: 50%;
    
}
.half-width img{
    width: 70%;
}
.colour{
    color: orange
}
.link-button{
    background-color: rgb(223, 13, 66);
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}
.section-2{
    margin-bottom: 100px;
}
.box-item{

}
.box-1 img{
    width: 30%;
}
.box-2 img{
    width: 30%;
}
.box-3 img{
    width: 30%;
}
.box-1{
    width:28% ;
    margin-left:3.3% ;
    border: 1px solid grey;
    border-radius:15px;
    background-color: rgb(157, 190, 185);
    padding-left: 10px;
}
.box-2{
    width:28% ;
    margin-left:3.3% ;
    border: 1px solid grey;
    border-radius:15px;
    background-color: rgb(197, 152, 175);
    padding-left: 10px;
}
.box-3{
    width:28% ;
    margin-left:3.3% ;
    border: 1px solid grey;
    border-radius:15px;
    background-color: rgb(127, 197, 125);
    padding-left: 10px;
}
.section-3 h2{
    font-size: 50px;
}
.section-3 img{
    margin-left: 5%;
}
.section-4 h2{
    font-size: 50px;
}
.section-4{
    margin-left: 5%;
}


